
  <!-- CSS style from rouge for code highlight -->
  <link rel="stylesheet" href="{{ "/assets/css/syntax.github.css" | prepend: site.baseurl }}">

  <!-- Compiled and minified JQuery -->
  <script type="text/javascript" src="{{ "/assets/js/jquery-2.2.2.min.js" | prepend: site.baseurl }}"></script>

  <!--
    Changed from v0.97.5 to fix crash when us scrollspy.
    See https://github.com/Dogfalo/materialize/commit/aa1a26abf2d868c26d7f353fa248f1597e94c223
  -->
  <script type="text/javascript" src="{{ "/assets/js/materialize-1.0.0-rc2.min.js" | prepend: site.baseurl }}"></script>

  <!-- JavaScript for Site -->
  <script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>