<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% include pre_loads.html styles=include.styles %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  {% feed_meta %}

  <!-- Icons -->
  <!-- Desktop browsers (including 16x6, 32x32 & 48x48 PNGs) -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
  <!-- Modern browsers (196x196 should cover all modern browsers) -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/fly_the_code-196x196.png">
  <!-- iOS & other mobile devices (ideally 180x180, at least 120x120) -->
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/fly_the_code-196x196.png">
</head>
