
{% if paginator.total_pages > 1 %}
<div class="section pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left fa-fw"></i> Newer</a>
  {% else %}
  <span><i class="fa fa-angle-left fa-fw"></i> Newer</span>
  {% endif %}

  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older <i class="fa fa-angle-right fa-fw"></i></a>
  {% else %}
  <span>Older <i class="fa fa-angle-right fa-fw"></i></span>
  {% endif %}
</div>
{% endif %}