{% assign post=include.post %}
<p class="post-meta">
  <time datetime="{{ post.date | date_to_xmlschema }}"><span>{{ post.date | date: "%b %d, %Y" }}</span></time>
  {% if post.author %}
    <span>&nbsp;•&nbsp;</span>
    <span>{{ post.author }}</span>
  {% endif %}
  <span>&nbsp;•&nbsp;</span>
  <span>
    {% for tag in post.categories %}
    <a href="{{ site.baseurl }}/categories/index.html#{{ post.categories | cgi_encode }}"
      title="Other posts from the {{ tag | capitalize }} category"
      class="hidden-link">
      {{ tag | capitalize }}
    </a>
    {% unless forloop.last %}&nbsp;/&nbsp;{% endunless %}
    {% endfor %}
  </span>
</p>