<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      {% assign owners = site.owner.name | split: " " | first | append: "'s" %}
      {% assign current_site = site.site_links | where_exp: "item", "item.current" | first %}
      <a href="{{ site.baseurl }}/" class="brand-logo">{{ owners }} {{ current_site.title }}</a>
      <ul class="right hide-on-med-and-down">
        {% include site_nav.html %}
      </ul>
    </div>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
<ul class="sidenav" id="nav-mobile">
  {% include site_nav.html %}
</ul>
