body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media #{$medium-and-up} {
  .container {
    width: 70%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 60%;
    max-width: 960px;
  }
}

a {
  color: $highlight-color;
}

a.hidden-link {
  color: inherit;
}

a.hidden-link:active,
a.hidden-link:hover {
  text-decoration: underline;
}

footer {
  a {
    @extend .hidden-link;
  }
  .grey-text {
    font-weight: lighter;
  }
}
ul.social-list {
  li {
    display: inline;
  }
  a.social-link {
    color: $primary-color;
  }
}

nav {
  .nav-wrapper ul li.active {
    background: transparent;

    a {
      padding: 0;
      margin: 0 15px;
      background: linear-gradient(transparent 96%, white 96%, white);
    }
  }
}

@media #{$large-and-up} {
  nav {
    .nav-wrapper {
      ul {
        margin-right: -15px;
      }
    }
  }
}

@media #{$medium-and-down} {
  nav {
    .nav-wrapper {
      text-align:center;
    }

    .sidenav-trigger {
      margin-left: 0;
    }

    .brand-logo {
      left: 40px;
      right: 40px;
      margin: auto;
      transform: inherit;
    }
  }
}

i.fa.left, i.fa.right {
  float: none !important;
}
