/**
 * Style for home page.
 */

 .home {
   margin: 0 0 64px 0;
 }

.banner-container {
  background-color: $secondary-color;
  min-height: 322px;

  header {
    display: block;
    margin: 2rem auto;

    color: #FFF;

    @media #{$medium-and-down} {
      text-align: center;
    }
  }

  .caption {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 100%;
    margin: 2rem 0;

    @media #{$medium-and-down} {
      margin: 2rem auto;
    }
  }

  .description {
    font-weight: lighter;
  }
}

.page {
  .caption {
    max-width: 50%;
    min-width: 25rem;
  }
}

.post-pagination {
  .pagination {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .page_number {
    height: 36px;
    line-height: 36px;
  }
}
