---
# Main stylesheets for site.
---
@charset "UTF-8";

// Variables;
@import "components/vars-global";

$primary-color: {{ site.palette.primary }};
$secondary-color: {{ site.palette.secondary }};
$colored-text-color: {{ site.palette.colored_text }};
$highlight-color: {{ site.palette.highlight }};

@import "colors";
@import "common";
@import "post";
@import "post-list";
@import "home";
@import "tags";
