---
layout: default
styles: ['main']
---

{% if site.paginate %}
    {% assign container = paginator %}
{% else %}
    {% assign container = site %}
{% endif %}

<div class="home">

  <div class="banner-container valign-wrapper">
    <div class="container">
      <header>
        <h1 class="caption">{{ site.title }}</h1>
        <p class="description">{{ site.description }}</p>
      </header>
    </div>
  </div>

  <div class="post-container container">
    {% for post in container.posts %}
      {% include post_item.html post=post %}
    {% endfor %}
  </div>

  <!-- Pagination -->
  <div class="post-pagination container">
    {% include pagination.html %}
  </div>

</div>
